ul {
  list-style-type: none;
}

.top-bar-section {
  position:relative;
  float: right;
  margin-right: 3.0rem;
  padding-right: 16px;
  border: solid 1px #777;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

td.question_index {
  margin: 0px 14px;
  padding: 10px 14px;
  width: 340px
}

td.question_action {
  width: 60px
}
